@import url("../../.cache/wal/colors-waybar.css");
* {
  font-family: "FiraCode Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  min-height: 0;
  padding: 0;
}

@define-color bg black;
@define-color module-bg transparent;
@define-color primary white;
@define-color danger #f53c3c;

#mode {
  border-radius: 100px;
  padding: 0 6px 0 6px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  margin-right: 7px;
  font-size: 0.93em;
}

#battery {
  background: transparent;
  color: @primary;
  margin-right: 7px;
  padding: 0 6px 0 6px;
}

#battery.critical:not(.charging) {
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: blink;
  animation-timing-function: linear;
  background-color: @danger;
  color: @primary;
}

#clock {
  background: transparent;
  color: @primary;
}

#backlight {
  padding: 0 6px 0 6px;
  background: transparent;
  color: @primary;
  margin-right: 7px;
}

#bluetooth {
  background: transparent; /* Match your bar background */
  padding: 0 6px 0 6px;
  color: @primary; /* Bluetooth Color */
  margin-right: 7px;
}

/* When Bluetooth is turned off */
#bluetooth.off,
#bluetooth.disabled {
  background: transparent; /* Red Background */
  color: @danger; /* Dark Text for contrast */
}

#network {
  background: transparent;
  color: #ffffff;
  margin-right: 7px;
  padding: 0 6px 0 6px;
}

#network.wifi {
  background: transparent;
  color: @primary;
}

#network.disconnected,
#network.disabled {
  background: transparent;
  color: @wifi-disconnect;
}

#keyboard-state {
  background: transparent;
  color: @primary;
  margin-right: 7px;
  padding: 0 6px 0 6px;
}

window#waybar {
  background: @bg;
  transition-duration: 0.2s;
  transition-property: background-color;
}

.modules-center {
  background: @module-bg;
  padding: 0 10px 0 10px;
}

.modules-left {
  background: @module-bg;
  padding: 5px 10px 5px 5px;
}

.modules-right {
  background: @module-bg;
  padding: 5px 10px 5px 0;
}

#workspaces button:hover {
  background: @primary;
  color: @bg;
  opacity: 1;
}

#workspaces button.focused:hover {
  background: @primary;
  color: @bg;
  opacity: 1;
}

#workspaces button:first-child {
  margin-left: 5px;
}

#workspaces button {
  /* background: transparent; */
  background: alpha(@primary, 0.2);
  color: @primary;
  margin-right: 5px;
  border-radius: 3px;
  opacity: 0.9;
  padding-left: 2px;
  font-size: 20px;
}

#workspaces button.focused {
  background: @primary;
  color: @bg;
}

#workspaces button.urgent {
  background-color: @danger;
}

/* Custom Stuff */
#custom-audio {
  background: transparent;
  color: @primary;
  margin-right: 7px;
  padding: 0 6px 0 6px;
}

#custom-logout {
  padding: 0px 10px 0 6px;
  background: transparent;
  color: @ubuntu;
  margin-right: 7px;
}
